.gradle
**/build/
!src/**/build/
gradle-app.setting
# explicitly allow Gradle wrapper files
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat
.gradletasknamecache
.project
.classpath
.idea/compiler.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/libraries/
.idea/*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/snapshots/
.idea/contentModel.xml
.idea/*.xml
/out/
/build/
target/        # Maven build directory
*.class        # Compiled Java classes
*.jar
*.war
*.log
*.ipr
*.iws
*.iml
.DS_Store      # macOS system files
Thumbs.db      # Windows system files
