.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat
.gradletasknamecache
.project
.classpath
.idea/
out/
build/
target/
*.class
*.jar
*.war
*.log
*.ipr
*.iws
*.iml
.DS_Store
Thumbs.db
/src/client/java/com/somefrills/PingOffsetMiner
src/main/java/com/somefrills/features/core/FeaturesRegistry.java
!vendor/*
